.App {
  text-align: center;
}

.links {
  font-size: calc(8px + 2vmin);
  text-decoration: none;
  color: inherit;
}

.NavBar {
  font-size: calc(10px + 2vmin);
  color: #bfbfbf;
}

.dark {
  background-color: #2d2d2d;
}

.text {
  font-size: calc(8px + 2vmin);
}

.stationInfoCard {
  min-height: 60vh;
}
