.App {
  text-align: center;
}

.links {
  font-size: calc(6px + 1vmin);
  text-decoration: none;
  color: inherit;
}

.NavBar {
  font-size: calc(10px + 2vmin);
  color: #bfbfbf;
}

.h1 {
  font-size: calc(26px + 3vmin);
}

.h2 {
  font-size: calc(20px + 2vmin);
}

.h3 {
  font-size: calc(16px + 1vmin);
}

.dark {
  background-color: #2d2d2d;
}

.text {
  font-size: calc(6px + 1vmin);
}

.stationInfoCard {
  min-height: 60vh;
}
